

@media (max-width: 1200px){
    .course-card {
        width: 370px;
        height: 470px;
    }


}

@media (max-width: 1024px){
    .courses-container{
        /* width: 370px;
        height: 480px; */
        flex-wrap: wrap;
    }
}

@media (max-width:992px){
    #hero h1{
        font-size: 35px;
    }

    #hero p{
        font-size: 12px;
    }
    
    .about-cards {
        flex-wrap: wrap;
    }


   .courses-container{
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
   }

   .course-card{
    width: 430px;
    gap:20px;
   }
   .contact-info img{
    width: 220px;
   }
   
}

@media (max-width:776px){

    .bars-menu{
        display: flex;
    }

    .navbar ul{
        background: white;
        width: 100%;
        height: calc(100vh-60px);
        position:absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        transform: translateX(200%);
        transition: all 0.4s ease;
    }

    #toggle-menu:checked~.navbar-list{
        transform: translateX(0);
    }

    #hero h1{
        font-size: 35px;
    }

    #hero p{
        font-size: 12px;
    }

    #about {
        width: 97%;
    }

    

    .contact-container{
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
        align-items: center;
    }

    .course-card{
        width: 500px;
        height: 450px;
    }

    .contact-info{
        width: 80%;
        text-align: center;
       
    }

    .contact-form{
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;

    }

    .form {
        width: 140%;
    }

    .form-msj{
        width: 100%;
        z-index: -1;
    }
}

@media (max-width: 576px){
    .bars-menu{
        display: flex;
    }

    .navbar ul{
        background: white;
        width: 100%;
        height: calc(100vh-60px);
        position:absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transform: translateX(200%);
        transition: all 0.4s ease;
    }

    #toggle-menu:checked~.navbar-list{
        transform: translateX(0);
    }


    .navbar-list a,
    .navbar-list span{
        font-size: 10px;
    }

    #hero h1{
        font-size: 25px;
    }

    #hero p,
    #hero a{
        font-size: 10px;
        text-align: center;
    }

    .hero-info{
        padding: 8px;
    }
    .about-info,
    .card {
        font-size: 10px;
    }

    .about-cards{
        flex-wrap: wrap;
    }

    .about-info h2,
    #courses h2 {
        font-size: 14px;
    }

    .course-card{
        height: 450px;
        width: 400px ;
    }

    .course-info p,
    .course-btn a {
        font-size: 10px;
    }

    #contact h2{
        font-size: 14px;
    }

    .contact-info {
        font-size: 12px;
    }

    .contac-info img{
        width: 50px;
    }

    .contact-links a{
        width: 30px;
    }

    .form-info,
    .form-msj{
        font-size: 12px;
        z-index: -1;
    }

    .footer-links a{
        font-size: 10px;
    }

    .footer-links{
        gap:5px;
    }
}

@media(max-width: 400px){

    #hero {
        background-image: url(./img/portada/hero\ alternativo\ 2.png);
    }
    .hero-info{
        padding: 8px;
    }

    .card{
        height: 160px;
    }
    .course-card p{
        display: none;
    }

    .course-card{
        width: 300px;
        height: 280px;
    }

    .course-card h3,
    .course-btn a {
        font-size: 10px;
    }
}

@media (max-width: 320px){
   
       
    #hero h1{
        font-size: 25px;
    }

    .hero-info{
        padding: 8px;
    }

    #about img{
        width: 100px;
    }


    .about-cards {
        flex-wrap: wrap;
    }

    .card{
        width: 180px;
        height: 180px;
    }

    .courses-container{
        width: 90%;
        padding: 3px;
    }
    .course-info h3{
        font-size: 9px;
    }
    .course-btn a{
        font-size: 9px;
        padding: 10px;
    }


    .course-card p{
        display: none;
    }

    .course-card{
        width: 300px;
        height: 240px;
    }

    .course-card img{
        width: 150px;
        height: 100px;
    }

    .form,
    .form-msj{
        width: 240px;
        z-index: -1;
    }

    .contact-form p{
        font-size: 11px;
    }

    .contact-info img{
        width: 180px;
    }

    .contact-links a{
        width: 20px;
    }

    

}


